/* Center align probably all the components */
/* Grouping of selectors */
head, body, form, p {
    text-align: center;
}

/* Add background image */
body {
    background-image:url('background_img2.avif');
    background-size:100% ; /* Adjust as needed */
    background-repeat:no-repeat;
}

input {
    display: inline-block; 
    padding: 8px 30px;
    margin: 5px ;
    box-sizing: border-box; 
    font-size: 20px;
}
#fname, #lname, #email, #cont,#dob, #age, #gen,#pswd, #rf{
    width: 40%;
    padding: 1px; 
    height: 25px;
}

/* increase the font size of text */
h1 {
    font-size: 25px;
}
label{
    font-size: 20px;
    display: inline-block;
    width: 100px;
    text-align:left; 
}
form {
    border: 2px solid #ccc; /* Border style */
    padding: 3px; /* Space between the content and the border */
    border-radius: 40px; /* Rounded corners */
    box-shadow: 12 6 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
    width: 40%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the box horizontally */

  }
  
.texts, .form_class {
    color: white;
}
.btn{
    box-sizing: 5px ;
    font-size: 10px;
}
